.DS_Store
.idea
*.log
tmp/

*.tern-port
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache


cont
cont.zip
data.zip
psiturk/server.log
psiturk/.psiturk_history
psiturk/custom.pyc
psiturk/participants.db
psiturk/static/data
*.tar.gz
psiturk/__pycache__
psiturk.sif
